<div class="account-main">
    <div class="account-header">
        <span>
            <a routerLink="/profile/myaccount"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
        </span>
        <h3>Change Password</h3>
        <p>Feel free to edit any of your details below so your homemade account is totally up to date.</p>
    </div>
    <div class="account-form">
        <form>
            <div class="form-group">
                <label>Current Password</label>
                <input type="text" name="fName" class="form-control">
            </div>
            <div class="form-group">
                <label>New Password</label>
                <input type="text" name="lName" class="form-control">
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="test" id="date" class="form-control">
            </div>

            <button type="submit" class="btn_1 gradient full-width type_2">Change Password</button>

        </form>
    </div>
</div>