<div class="dashboard">
    <div id="carousel-home">
        <owl-carousel-o [options]="customOptions" (translated)="onSlideTransition($event)"
            (initialized)="onCarouselInitialized($event)">
            <ng-template carouselSlide class="slide" id="img1">
                <div class="owl-slide cover" style="background-image: url(assets/images/slides/slide_home_1.jpg);">
                    <!-- /Would probably better not use LazyLoad fo the first item -->
                    <div class="opacity-mask d-flex align-items-center" style="background-color: rgba(0, 0, 0, 0.5)">
                        <div class="container">
                            <div class="row justify-content-center justify-content-md-end">
                                <div class="col-lg-6 static">
                                    <div class="slide-text text-right white" #slideText>
                                        <h2 class="owl-slide-animated owl-slide-title" #owlAnimated #owlAnimated1>
                                            Enjoy<br>unique food
                                        </h2>
                                        <p class="owl-slide-animated owl-slide-subtitle" #owlAnimated #owlAnimated1>
                                            Huge variery of food at the best price
                                        </p>
                                        <div class="owl-slide-animated owl-slide-cta" #owlAnimated #owlAnimated1><a
                                                class="btn_1" href="grid-listing-filterscol.html" role="button">Read
                                                more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide class="slide" id="img2">
                <div class="owl-slide cover" style="background-image: url(assets/images/slides/slide_home_2.jpg);">
                    <!-- /Would probably better not use LazyLoad fo the first item -->
                    <div class="opacity-mask d-flex align-items-center" style="background-color: rgba(0, 0, 0, 0.5)">
                        <div class="container">
                            <div class="row justify-content-center justify-content-md-start">
                                <div class="col-lg-6 static">
                                    <div class="slide-text white" #slideText>
                                        <h2 class="owl-slide-animated owl-slide-title" #owlAnimated #owlAnimated2>
                                            Enjoy<br>unique food
                                        </h2>
                                        <p class="owl-slide-animated owl-slide-subtitle" #owlAnimated #owlAnimated2>
                                            Huge variery of food at the best price
                                        </p>
                                        <div class="owl-slide-animated owl-slide-cta" #owlAnimated #owlAnimated2><a
                                                class="btn_1" href="grid-listing-filterscol.html" role="button">Read
                                                more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <!--/carousel-->

    <div class="container margin_15_45">
        <div class="main_title center">
            <h2>Discover unique homemade items</h2>
        </div>
        <!-- /main_title -->

        <div class="categories_carousel">
            <owl-carousel-o [options]="customOptionsTwo">
                <ng-container *ngFor="let menu of menus; let i = index;">
                    <ng-template carouselSlide class="slide" [id]="'image' + i">
                        <div class="item_version_2">
                            <a href="javascript:void(0)">
                                <figure>
                                    <img [src]="menu.imgUrl" alt="" class="owl-lazy">
                                    <div class="info">
                                        <h3>{{menu.label}}</h3>
                                    </div>
                                </figure>
                            </a>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
    <!-- /container -->

    <div class="bg_gray categoriesBox margin_15_15">
        <div class="container">
            <div class="main_title">

                <h2>Recent Viewed</h2>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-2" *ngFor="let recent of recentlyViewed">
                    <div class="strip">
                        <figure>
                            <a href="product-detail.html"><img [src]="recent.imgUrl" class="img-fluid lazy" alt=""></a>
                        </figure>
                        <a href="product-detail.html" class="strip_info">
                            <div class="item_title">
                                <h3>{{recent.label}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- /strip grid -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card type3" id="section1">
            <div class="main_title">
                <h2>Food</h2>
                <a href="food.html">View All</a>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3" *ngFor="let food of foods">
                    <div class="cardbody">
                        <a href="non-food-product-detail.html">
                            <div class="imgBox">
                                <figure>
                                    <img [src]="food.imgUrl" alt="" class="lazy loaded img-fluid"
                                        data-was-processed="true">
                                </figure>
                            </div>
                            <div class="contentBox">
                                <div class="pro_detials">
                                    <h3>{{food.label}}</h3>
                                    <p class="price">Rs.{{food.price}}</p>
                                </div>
                                <div class="prod_cta">
                                    <a class="btn_1 outline type_3 modal_dialog" href="#modal-dialog">Order Now</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--./-->
            </div>
        </div>
    </div>
</div>