<div id="register_bg">
    <div id="register" class="gen_title">
        <aside>
            <h1>Forgot your password?</h1>
            <p>Don't worry! Just fill in your email and we'll send you a link to reset your password</p>
            <form autocomplete="off">
                <div class="form-group">
                    <input class="form-control" type="email" placeholder="Email">
                </div>
                <a href="#0" class="btn_1 gradient full-width">Reset Password</a>
                <div class="text-center mt-2"><small>Back to <strong><a href="javascript:void(0)"
                                [routerLink]="['/auth']">Login</a></strong></small>
                </div>
            </form>
        </aside>
    </div>
    <!-- /login -->
</div>