@import "./../../../../../scss/mixin";
@import "./../../../../../scss/variables";

/*-------- 3.7 Sing In Modal --------*/
#sign-in-dialog,
#sign-up-dialog {
  background: #fff;
  padding: 30px;
  padding-top: 0;
  text-align: left;
  min-height: 200px;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  @include border-radius(4px);
}

/* Popup close button*/
#sign-in-dialog .mfp-close,
#sign-up-dialog .mfp-close,
#modal-dialog .mfp-close {
  color: #666;
  background-color: #e4e4e4;
  @include border-radius(50%);
  top: 12px;
  right: 20px;
  width: 32px;
  height: 32px;
  line-height: 32px;

  &:before {
    font-size: 24px;
    font-family: "ElegantIcons";
    content: "\4d";
  }

  &:hover {
    color: #fff;
    background-color: #66676b;
  }
}

.modal_header {
  font-size: 18px;
  width: calc(100% + 60px);
  position: relative;
  left: -30px;
  top: 0;
  @include border-radius(4px 4px);
  display: inline-block;
  background-color: #f6f6f6;
  padding: 18px 20px 15px 20px;
  margin-bottom: 30px;

  h3 {
    padding: 0;
    margin: 0;
    @include fontSize(18px);
    font-weight: 500;
  }
}

#sign-in-dialog .form-group input.form-control,
#sign-up-dialog .form-group input.form-control {
  padding-left: 15px;
}

#sign-in-dialog .form-group > i,
#sign-up-dialog .form-group > i {
  @include fontSize(18px);
  position: absolute;
  left: 12px;
  top: 33px;
  color: #ccc;
  width: 25px;
  height: 25px;
  display: block;
  font-weight: 400 !important;

  &.icon_lock_alt {
    top: 35px;
  }
}

.modal__close {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: #666;
  background-color: #e4e4e4;
  cursor: pointer;
  text-decoration: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  .material-icons {
    color: #666;
    font-size: 1rem;
  }

  &:hover {
    background-color: #66676b;
    color: #fff;

    .material-icons {
      color: #fff;
    }
  }
}

.changeLocation {
  span {
    bottom: -70% !important;
  }
}

.changeLocation {
  span {
    position: absolute;
    right: 2%;
    bottom: 15%;
  }
}
