<div class="hero_in detail_page background-image" data-background="url(img/hero_general.jpg)">
    <div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
        
        <div class="container">
            <div class="main_info">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <h1>Frequently Asked Questions</h1>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /main_info -->
        </div>
    </div>
</div>
<!--/hero_in-->


<div class="container margin_detail_2">
    <div class="row">
        <div class="col-lg-12 col-md-10">
            <div class="main_title center">
                <p>Purchasing on Homemade</p>
            </div>

            <div role="tablist" class="add_bottom_15 accordion_2" id="accordion_group">
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>
                                How to Purchase an Item On Homemade ?</a>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>To purchase an item on Homemade:</p>
                            <ul>
                                <li>Find an item you want to purchase on the Homemade website or mobile app</li>
                                <li>Choose the options you want for that item, if applicable.</li>
                                <li>Click Add to cart.</li>
                                <li>Choose your preferred payment method under How you’ll pay.</li>
                                <li>Click Proceed to checkout.</li>
                                <li>Confirm your shipping address and payment details.</li>
                                <li>Review your order to check that your information and order are correct.</li>
                                <li>Click Place your order.</li>
                            </ul>
                            <p>When you buy on Homemade, you're purchasing from individual Homemade partners. If you have any questions about an item
                            or order, reach out to Homemade Support.</p>
                            <p>To authenticate a payment, you'll need to respond to a prompt from your card issuer and provide additional information.
                            Depending on your card issuer, this additional information may include a correct response to a question, a password, or
                            a passcode.</p>
                            <p>Congratulations!</p>
                            <p>Homemade will send you an email for order that you’ve placed. If you have any questions about your order, be sure to
                            reach out to Homemade Support.</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>I'm Having a Technical Problem with Buying on Homemade
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>If you’re experiencing an issue with your order, you must work with Homemade Support to try to resolve the problem. You
                            can contact us through the in-app chat or send us an email at <a
                                href="mailto:support@fromhomemade.com">support@fromhomemade.com</a> or call us</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>How to Get Help Before You Order
                            </a>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>Not ready to complete your purchase? We’d love to help!</p>
                            <p>Have an issue that the seller can't help you with? Contact Homemade Support over in-app chat or email or call us</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>What Is the Processing Time for an Item?
                            </a>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>The processing time is the length of time a Homemade partner needs to get an order ready to ship, or the length of time
                            between when you place an order and when the partner ships your order. These might be more than usual because at
                            Homemade, each order is custom-made by hand for you.</p>
                            <p>Homemade Partners can set the processing times for items in their offerings. The processing time can vary from item to
                            item for each Partner.</p>
                            <p>You can find the processing time for an item on the item’s listing page:</p>
                            <ul>
                                <li>Click an item you’re interested in on Homemade mobile app.</li>
                                <li>On the listing page, you’ll see either:</li>
                                <ul>
                                    <li>Ready to ship in: This shows the processing time for the item.</li>
                                    <li>Estimated delivery date: The date range when you can expect this order to arrive.</li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /card -->
            </div>
            <!-- /accordion group -->
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
    <div class="row">
        <div class="col-lg-12 col-md-10">
            <div class="main_title center">
                <p>Shipping</p>
            </div>

            <div role="tablist" class="add_bottom_15 accordion_2" id="accordion_group1">
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a data-toggle="collapse" href="#collapse5" aria-expanded="true">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>
                                How to Track Your Homemade Order ?</a>
                        </h5>
                    </div>

                    <div id="collapse5" class="collapse show" role="tabpanel" data-parent="#accordion_group1">
                        <div class="card-body">
                            <p>You can check the shipping status of your order on the Homemade app. If there is tracking information available, you can
                            check when your order should arrive.</p>
                            <p>To track your purchase:</p>
                            <ul>
                                <li>Sign in to the Homemade app.</li>
                                <li>Click the Your Account icon.</li>
                                <li>Click Purchases and reviews.</li>
                                <li>Find your order.</li>
                                <li>You’ll see the shipping status to the right of your order:</li>
                                <ul>
                                    <li>
                                        Not Shipped: The Homemade Partner hasn’t shipped the order yet or didn’t update the order on Homemade.
                                    </li>
                                    <li>
                                        Shipped: The Homemade Partner marked the order as shipped.
                                    </li>
                                    <li>
                                        In Transit: The Homemade Partner added a tracking number and the package has left the shipping facility.
                                    </li>
                                    <li>
                                        Track package: If the order has a tracking number, you’ll see Track Package. Click Track Package to see more tracking updates.
                                    </li>
                                </ul>
                            </ul>
                            <p>You can also see shipping information in the shipping notification emails for your order. Click Track Package in the
                            email notification to view the status of your delivery.</p>
                        </div>
                    </div>
                </div>
                <!--card-->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a data-toggle="collapse" href="#collapse6" aria-expanded="true">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>
                                Why wasn't tracking information provided for my order?</a>
                        </h5>
                    </div>

                    <div id="collapse6" class="collapse show" role="tabpanel" data-parent="#accordion_group1">
                        <div class="card-body">
                            <p>All orders placed on Homemade include tracking information. But there might be times when due to technical issues,
                            tracking information might not be available. You can contact Homemade Support for information of your order.</p>
                        </div>
                    </div>
                </div>
                <!--card-->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a data-toggle="collapse" href="#collapse7" aria-expanded="true">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>
                                Where’s my order?</a>
                        </h5>
                    </div>

                    <div id="collapse7" class="collapse show" role="tabpanel" data-parent="#accordion_group1">
                        <div class="card-body">
                            <p>If you have more questions about your shipment, or if tracking information isn’t available, contact Homemade Support for
                            help via chat, email or call us</p>
                        </div>
                    </div>
                </div>
                <!--card-->
            </div>
            <!-- /accordion group -->
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
    <div class="row">
        <div class="col-lg-12 col-md-10">
            <div class="main_title center">
                <p>Cart & Payment</p>
            </div>

            <div role="tablist" class="add_bottom_15 accordion_2" id="accordion_group2">
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a data-toggle="collapse" href="#collapse8" aria-expanded="true">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>
                                I'm Having Trouble Checking Out</a>
                        </h5>
                    </div>

                    <div id="collapse8" class="collapse show" role="tabpanel" data-parent="#accordion_group2">
                        <div class="card-body">
                            <p>If you’re having trouble checking out on Homemade, check these common issues:</p>
                            <ul>
                                <li>I’m seeing an error when I try to check out</li>
                                <li>My order is still processing</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--card-->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a data-toggle="collapse" href="#collapse9" aria-expanded="true">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>
                                I’m seeing an error when I try to check out</a>
                        </h5>
                    </div>

                    <div id="collapse9" class="collapse show" role="tabpanel" data-parent="#accordion_group2">
                        <div class="card-body">
                            <p>If you see the error: "There was a problem with your order. Please try again, if you continue to have problems, please
                            contact support.</p>
                            <p>Then: Review the billing and shipping information you entered and check that it’s correct. If it is correct, click
                            Contact support at the bottom of this page.</p>
                        </div>
                    </div>
                </div>
                <!--card-->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a data-toggle="collapse" href="#collapse10" aria-expanded="true">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>
                                My order is still processing</a>
                        </h5>
                    </div>

                    <div id="collapse10" class="collapse show" role="tabpanel" data-parent="#accordion_group2">
                        <div class="card-body">
                            <p>If you received an email from Homemade saying that your Homemade order is still processing, it means that your purchase
                            is being screened by Homemade’s third party partner. All Homemade Payments orders are screened to ensure that the orders
                            are legitimate and to protect from possible fraud.</p>
                            <p>Most orders are processed in under 72 hours. You’ll receive a confirmation email when the review is complete.</p>
                        </div>
                    </div>
                </div>
                <!--card-->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a data-toggle="collapse" href="#collapse11" aria-expanded="true">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>
                                Why is there a charge on my card if my order is still processing?</a>
                        </h5>
                    </div>

                    <div id="collapse11" class="collapse show" role="tabpanel" data-parent="#accordion_group2">
                        <div class="card-body">
                            <p>You may see a charge on your credit card or bank statement while we work to process your order. The charge will only be
                            finalized when the purchase has been processed successfully.</p>
                        </div>
                    </div>
                </div>
                <!--card-->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a data-toggle="collapse" href="#collapse12" aria-expanded="true">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>
                                What Payment Methods Can I Use to Check Out on Homemade?</a>
                        </h5>
                    </div>

                    <div id="collapse12" class="collapse show" role="tabpanel" data-parent="#accordion_group2">
                        <div class="card-body">
                            <p>Homemade supports Credit Card, Debit Card, Net Banking, Paytm and other wallets, UPI via BHIM UPI , Google Pay, PhonePe etc.</p>
                            <p>You may see a pending transaction on your credit card bill for a small amount. This is a pre-authorization test to
                            ensure your card is valid. Once your card has been validated, it will be dropped from your statement.</p>
                        </div>
                    </div>
                </div>
                <!--card-->
            </div>
            <!-- /accordion group -->
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
    <div class="row">
        <div class="col-lg-12 col-md-10">
            <div class="main_title center">
                <p>Returns, Exchanges & Refunds</p>
            </div>

            <div role="tablist" class="add_bottom_15 accordion_2" id="accordion_group3">
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a data-toggle="collapse" href="#collapse13" aria-expanded="true">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>
                                How to Return or Exchange an Item on Homemade</a>
                        </h5>
                    </div>

                    <div id="collapse13" class="collapse show" role="tabpanel" data-parent="#accordion_group3">
                        <div class="card-body">
                            <p>If you’re unsatisfied with an order, you may be able to return or exchange your order depending on the ordered items and
                            the applicable policy.</p>
                            <p>To request a return or exchange, contact Homemade Support.</p>
                        </div>
                    </div>
                </div>
                <!--card-->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a data-toggle="collapse" href="#collapse14" aria-expanded="true">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>
                                How to Get a Refund for an Order</a>
                        </h5>
                    </div>

                    <div id="collapse14" class="collapse show" role="tabpanel" data-parent="#accordion_group3">
                        <div class="card-body">
                            <p>If you are unsatisfied with an order, you may be able to request a refund for your order depending on Homemade`s
                            policies as mentioned in the Terms & Conditions document. To request a refund, contact Homemade Support.</p>
                        </div>
                    </div>
                </div>
                <!--card-->
            </div>
            <!-- /accordion group -->
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
</div>
<!-- /container -->

