<div class="hero_in detail_page background-image" data-background="url(img/hero_general.jpg)">
    <div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
        
        <div class="container">
            <div class="main_info">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <h1>Frequently Asked Questions</h1>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /main_info -->
        </div>
    </div>
</div>
<!--/hero_in-->


<div class="container margin_detail_2">
    <div class="row">
        <div class="col-lg-12 col-md-10">
            <div class="main_title center">
                <p>Selling on Homemade</p>
            </div>

            <div role="tablist" class="add_bottom_15 accordion_2" id="accordion_group">
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>
                                Beginner's Guide to Selling on Homemade</a>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>Interested in selling on Homemade? Welcome!</p>
                            <p>This guide helps you through the first steps of opening your shop, shares tips on how to get a strong start, and
                                provides resources for further guidance along the way.</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>Get to know Homemade
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>Homemade is a unique marketplace for authentic homemade cuisines, handmade items, vintage goods, and handicraft. On
                                Homemade, you’ll find a community of homechefs, makers, bakers, small-business owners, and shoppers who all share a
                                passion for uncommon and rare goods. </p>
                            <p>If you’re new to Homemade, take some time to get to know us. Review our Partner policies and learn about fees for
                                selling on Homemade to make sure that selling on Homemade is right for you and your business.</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>Open your Account
                            </a>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>Before you sell your items, sign in or create an Homemade account. After creating your account, add your profile
                                picture and bio to let other people in the Homemade community know who you are.</p>
                            <p>To open your Homemadeaccount:</p>
                            <ul>
                                <li>Open the Homemade app on your mobile device</li>
                                <li>Tap Sign Up</li>
                                <li>Select ‘Food’ or ‘Non-Food’</li>
                                <li>Fill out the registration form with the required details.</li>
                                <li>Tap Confirm</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>Do I need a business license to sell on Homemade?
                            </a>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>Homemade doesn’t require partners to have a business license to sell on Homemade.</p>
                            <p>However, when selling on Homemade you're required to follow any laws that apply to you as a small business selling
                                online. If you have any questions regarding which laws apply to you, please contact a qualified professional.</p>
                            <p>Also, the law mandates FSSAI registration be done for all homemade food selling partners. However, a FSSAI license is
                            required only when the annual turnover is above Rs 12 Lakh.</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>Finish your setup
                            </a>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>Once you’ve signed up to sell on Homemade, there are a few steps you need to take and prepare to start selling items.
                            Like any online business, you should think through key factors in your selling workflow. Consider things like production
                            time, policies, and your packaging for shipping.</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>Add listings to your profile
                            </a>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>Once you’ve completed all your profile sections, you are ready to start adding items. When you add an item to your
                            Homemade profile, we call this a listing.</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>Manage your profile
                            </a>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>After you’ve listed your items in your profile, there are other factors to manage as your business develops and grows.</p>
                            <p>Tips for managing:</p>
                            <ul>
                                <li>Make sure you follow best practices for customer service. </li>
                                <li>Learn what to do when you make your first sale.</li>
                                <li>Toggle the ‘Accepting Order’ option in your account to take a break when needed.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapseEight" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>What Can I Sell?
                            </a>
                        </h5>
                    </div>
                    <div id="collapseEight" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>Homemade is a platform to help creators like you. Here, we bring together all the home chefs, artist, artisans and
                                food smiths on-board. Together, we thrive to be the largest community anywhere on the globe to offer homemade
                                products only. Our quality assurance team ensures that on this platform we feature products that are exclusively
                                prepared at home.</p>
                            <p>All items sold on Homemade must also adhere to our Prohibited Items Policy.</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse9" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>Prohibited Items
                            </a>
                        </h5>
                    </div>
                    <div id="collapse9" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>We prohibit certain types of items which present legal risks to our community; others are inconsistent with our values,
                            are harmful to our members, or simply are not in the spirit of Homemade.</p>
                            <p>Following types of items are prohibited from being sold on Homemade:</p>
                            <ul>
                                <li>Food items and non-food products processed in mass-production facilities</li>
                                <li>Alcohol, tobacco, drugs, drug paraphernalia, and medical drugs</li>
                                <li>Certain animal products and human remains</li>
                                <li>Dangerous items, including hazardous materials, recalled items, and weapons</li>
                                <li>Hate items, including items that promote, support, or glorify hatred</li>
                                <li>Illegal items, items promoting illegal activity, and highly regulated items</li>
                                <li>Internationally regulated items</li>
                                <li>Pornography and mature content</li>
                                <li>Violent items, including items that promote, support, or glorify violence</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse10" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>After You Sell an Item
                            </a>
                        </h5>
                    </div>
                    <div id="collapse10" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>After you make a sale on Homemade, you can find all of the order details in your account. Homemade also sends a
                            notification to the Homemade Partner app and an email to you at the address you use for your Homemade account.</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse11" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>How will I get paid?
                            </a>
                        </h5>
                    </div>
                    <div id="collapse11" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>Your payment will be in your Payment account that you might have connected toHomemade.</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse12" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>How will I get paid?
                            </a>
                        </h5>
                    </div>
                    <div id="collapse12" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>Your payment will be in your Payment account that you might have connected toHomemade.</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse13" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>Shipping basics
                            </a>
                        </h5>
                    </div>
                    <div id="collapse13" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>Shipping is one of the most important factors customers look at when deciding whether to make a purchase. For
                            HomemadePartners, creating an effective and competitive shipping strategy is a key part of running your online business.</p>
                            <p>The first step in creating your shipping strategy is to go over all your shipping logistics.
                                You're responsible for ensuring orders are sent to buyers.</p>
                            <p>When creating a shipping strategy:</p>
                            <ul>
                                <li>Consider what shipping timelines will work well for you, your products, and your customers.</li>
                                <li>Create a workflow with expectations that you can easily meet, even during high volume times. This includes setting
                                    realistic processing times for your items.</li>
                                <li>Gather shipping materials, like packaging and boxes or envelopes.</li>
                                <li>Set aside time regularly to fulfill orders, manage shipments, and update your Homemade listings.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse14" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>How to List an Item in Your Homemade profile
                            </a>
                        </h5>
                    </div>
                    <div id="collapse14" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>To list an item in your Partner profile:</p>
                            <p>On the Homemade app, tap Add Item.Then:</p>
                            <p>Step 1: Add photos</p>
                            <p>Step 2: Type your product’s name</p>
                            <p>Step 3: Choose a category</p>
                            <p>Step 4: Describe your product</p>
                            <p>Step 5: Add your inventory and pricing</p>
                            <p>Step 6: Set up processing time</p>
                            <p>Step 7: Marketing</p>
                            <p>Step 8: Tap the ‘Add Item’ button to save your listing</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse15" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>Updating or Deleting a Listing
                            </a>
                        </h5>
                    </div>
                    <div id="collapse15" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse16" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>Listing an item with categories and subcategories
                            </a>
                        </h5>
                    </div>
                    <div id="collapse16" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>You'll have to choose the kind of item you're listing and its categories.</p>
                            <p>The category and subcategories you choose will help potential customers in locating your items with ease.</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse17" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>How to Get Paid on Homemade
                            </a>
                        </h5>
                    </div>
                    <div id="collapse17" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>You set up your profile, you made your first sale. Time to get paid!</p>
                            <p>You will get direct deposits to the bank account you link with Homemade.</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse18" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>Order Still Processing for Partners
                            </a>
                        </h5>
                    </div>
                    <div id="collapse18" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>Most orders process within 72 hours, although they may occasionally take longer.</p>
                            <p>If you're seeing a notification or received an email about a processing order, it means that the transaction is being
                            reviewed by Homemade. We review all transactions in order to reduce risk and ensure the safety of the marketplace.</p>
                            <p>Once an order has successfully processed, the funds for an order will appear in your payment account.</p>
                        </div>
                    </div>
                </div>
                <!-- /card -->
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse19" aria-expanded="false">
                                <i class="indicator icon_minus-06"></i>
                                <i class="indicator icon_plus"></i>What Are Homemade's Rules and Policies?
                            </a>
                        </h5>
                    </div>
                    <div id="collapse19" class="collapse" role="tabpanel" data-parent="#accordion_group">
                        <div class="card-body">
                            <p>Homemade is a unique marketplace that brings together buyers and sellers of homemade food and products. To ensure that
                            the experience of shopping and selling on Homemade is excellent for all Homemade members, we have a set of policies and
                            rules that help to keep Homemade’s marketplace safe and high-quality.</p>
                            <p>Before buying or selling on Homemade, review our Terms of Use, which includes details about:</p>
                            <ul>
                                <li>Your rights and obligations as a buyer and seller on Homemade</li>
                                <li>Policies for Homemade products and services</li>
                                <li>Criteria for items on Homemade</li>
                                <li>Homemade’s Prohibited Items Policy</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /card -->
            </div>
            <!-- /accordion group -->
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
</div>
<!-- /container -->

