<div class="foods">
    <div class="bg_gray bg_white">
        <div class="container margin_detail_2">
            <div class="row">
                <div class="col-12">
                    <div class="categories_carousel_in listing">
                        <owl-carousel-o [options]="customOptions">
                            <ng-container *ngFor="let category of categories; let i = index;">
                                <ng-template carouselSlide class="slide" [id]="'image' + i">
                                    <div class="item">
                                        <figure>
                                            <img [src]="category.imgUrl" alt="" class="owl-lazy">
                                            <a routerLink="{{category.component}}">
                                                <h3>{{category.label}}</h3>
                                            </a>
                                        </figure>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>

                    <div class="promo">
                        <h3>Free Delivery for your first 14 days!</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                        <i class="icon-food_icon_delivery"></i>
                    </div>
                    <!-- /promo -->

                    <nav class="secondary_nav sticky_horizontal">
                        <div class="container">
                            <div class="row">
                                <ul id="secondary_nav">
                                    <li><a class="list-group-item list-group-item-action" routerLink="/foods"
                                            fragment="section1">Breakfast</a>
                                    </li>
                                    <li><a class="list-group-item list-group-item-action" routerLink="/foods"
                                            fragment="section2">North
                                            Indian</a></li>
                                    <li><a class="list-group-item list-group-item-action" routerLink="/foods"
                                            fragment="section3">South
                                            Indian</a></li>
                                    <li><a class="list-group-item list-group-item-action" routerLink="/foods"
                                            fragment="section4">Continental</a></li>
                                    <li><a class="list-group-item list-group-item-action" routerLink="/foods"
                                            fragment="section5">Oriental</a>
                                    </li>
                                    <li><a class="list-group-item list-group-item-action" routerLink="/foods"
                                            fragment="section6">Desserts</a>
                                    </li>
                                    <li><a class="list-group-item list-group-item-action" routerLink="/foods"
                                            fragment="section7">Beverages</a>
                                    </li>
                                    <li><a class="list-group-item list-group-item-action" routerLink="/foods"
                                            fragment="section8">Meals</a>
                                    </li>
                                    <li><a class="list-group-item list-group-item-action" routerLink="/foods"
                                            fragment="section9">Platter</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <span></span> -->
                    </nav>
                    <!-- /secondary_nav -->

                    <div class="card type3" id="section1">
                        <div class="main_title">
                            <h2>Breakfast</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3" *ngFor="let item of breakfastData">
                                <div class="strip">
                                    <figure>
                                        <img [src]="item.ItemImageUrl" class="img-fluid lazy loaded" alt=""
                                            data-was-processed="true">
                                        <a href="javascript:void(0)" routerLink="/foods/detail/{{item.ItemItemId}}"
                                            class="strip_info">
                                            <div class="item_title">
                                                <h3>{{item.ItemName | titlecase}}</h3>
                                                <small>{{item.ItemPrice | currency: 'INR'}}</small>
                                            </div>
                                        </a>
                                    </figure>
                                    <div class="cardDetails">
                                        <!-- <div class="score"><strong>{{item.ItemRating}}</strong></div> -->
                                        <a class="btn_1 outline type_3" href="javascript:void(0)"
                                            (click)="orderNow($event, item)">Pre
                                            Order</a>
                                    </div>
                                    <!-- <p class="availablity">{{item.availability}}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--./card ends-->

                    <div class="card type3" id="section2">
                        <div class="main_title">
                            <h2>North Indian</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3" *ngFor="let item of northIndianData">
                                <div class="strip">
                                    <figure>
                                        <img [src]="item.ItemImageUrl" class="img-fluid lazy loaded" alt=""
                                            data-was-processed="true">
                                        <a href="javascript:void(0)" routerLink="/foods/detail/{{item.ItemItemId}}"
                                            class="strip_info">
                                            <div class="item_title">
                                                <h3>{{item.ItemName | titlecase}}</h3>
                                                <small>{{item.ItemPrice | currency: 'INR'}}</small>
                                            </div>
                                        </a>
                                    </figure>
                                    <div class="cardDetails">
                                        <!-- <div class="score"><strong>{{item.ItemRating}}</strong></div> -->
                                        <a class="btn_1 outline type_3" href="javascript:void(0)"
                                            (click)="orderNow($event, item)">Pre
                                            Order</a>
                                    </div>
                                    <!-- <p class="availablity">{{item.availability}}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--./card ends-->

                    <div class="card type3" id="section3">
                        <div class="main_title">
                            <h2>South Indian</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3" *ngFor="let item of southIndianData">
                                <div class="strip">
                                    <figure>
                                        <img [src]="item.ItemImageUrl" class="img-fluid lazy loaded" alt=""
                                            data-was-processed="true">
                                        <a href="javascript:void(0)" routerLink="/foods/detail/{{item.ItemItemId}}"
                                            class="strip_info">
                                            <div class="item_title">
                                                <h3>{{item.ItemName | titlecase}}</h3>
                                                <small>{{item.ItemPrice | currency: 'INR'}}</small>
                                            </div>
                                        </a>
                                    </figure>
                                    <div class="cardDetails">
                                        <!-- <div class="score"><strong>{{item.ItemRating}}</strong></div> -->
                                        <a class="btn_1 outline type_3" href="javascript:void(0)"
                                            (click)="orderNow($event, item)">Pre
                                            Order</a>
                                    </div>
                                    <!-- <p class="availablity">{{item.availability}}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--./card ends-->

                    <div class="card type3" id="section4">
                        <div class="main_title">
                            <h2>Continental</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3" *ngFor="let item of continentalData">
                                <div class="strip">
                                    <figure>
                                        <img [src]="item.ItemImageUrl" class="img-fluid lazy loaded" alt=""
                                            data-was-processed="true">
                                        <a href="javascript:void(0)" routerLink="/foods/detail/{{item.ItemItemId}}"
                                            class="strip_info">
                                            <div class="item_title">
                                                <h3>{{item.ItemName | titlecase}}</h3>
                                                <small>{{item.ItemPrice | currency: 'INR'}}</small>
                                            </div>
                                        </a>
                                    </figure>
                                    <div class="cardDetails">
                                        <!-- <div class="score"><strong>{{item.ItemRating}}</strong></div> -->
                                        <a class="btn_1 outline type_3" href="javascript:void(0)"
                                            (click)="orderNow($event, item)">Pre
                                            Order</a>
                                    </div>
                                    <!-- <p class="availablity">{{item.availability}}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--./card ends-->

                    <div class="card type3" id="section5">
                        <div class="main_title">
                            <h2>Oriental</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3" *ngFor="let item of orientalData">
                                <div class="strip">
                                    <figure>
                                        <img [src]="item.ItemImageUrl" class="img-fluid lazy loaded" alt=""
                                            data-was-processed="true">
                                        <a href="javascript:void(0)" routerLink="/foods/detail/{{item.ItemItemId}}"
                                            class="strip_info">
                                            <div class="item_title">
                                                <h3>{{item.ItemName | titlecase}}</h3>
                                                <small>{{item.ItemPrice | currency: 'INR'}}</small>
                                            </div>
                                        </a>
                                    </figure>
                                    <div class="cardDetails">
                                        <!-- <div class="score"><strong>{{item.ItemRating}}</strong></div> -->
                                        <a class="btn_1 outline type_3" href="javascript:void(0)"
                                            (click)="orderNow($event, item)">Pre
                                            Order</a>
                                    </div>
                                    <!-- <p class="availablity">{{item.availability}}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--./card ends-->

                    <div class="card type3" id="section6">
                        <div class="main_title">
                            <h2>Desserts</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3" *ngFor="let item of desertsData">
                                <div class="strip">
                                    <figure>
                                        <img [src]="item.ItemImageUrl" class="img-fluid lazy loaded" alt=""
                                            data-was-processed="true">
                                        <a href="javascript:void(0)" routerLink="/foods/detail/{{item.ItemItemId}}"
                                            class="strip_info">
                                            <div class="item_title">
                                                <h3>{{item.ItemName | titlecase}}</h3>
                                                <small>{{item.ItemPrice | currency: 'INR'}}</small>
                                            </div>
                                        </a>
                                    </figure>
                                    <div class="cardDetails">
                                        <!-- <div class="score"><strong>{{item.ItemRating}}</strong></div> -->
                                        <a class="btn_1 outline type_3" href="javascript:void(0)"
                                            (click)="orderNow($event, item)">Pre
                                            Order</a>
                                    </div>
                                    <!-- <p class="availablity">{{item.availability}}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--./card ends-->

                    <div class="card type3" id="section7">
                        <div class="main_title">
                            <h2>Beverages</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3" *ngFor="let item of beveragesData">
                                <div class="strip">
                                    <figure>
                                        <img [src]="item.ItemImageUrl" class="img-fluid lazy loaded" alt=""
                                            data-was-processed="true">
                                        <a href="javascript:void(0)" routerLink="/foods/detail/{{item.ItemItemId}}"
                                            class="strip_info">
                                            <div class="item_title">
                                                <h3>{{item.ItemName | titlecase}}</h3>
                                                <small>{{item.ItemPrice | currency: 'INR'}}</small>
                                            </div>
                                        </a>
                                    </figure>
                                    <div class="cardDetails">
                                        <!-- <div class="score"><strong>{{item.ItemRating}}</strong></div> -->
                                        <a class="btn_1 outline type_3" href="javascript:void(0)"
                                            (click)="orderNow($event, item)">Pre
                                            Order</a>
                                    </div>
                                    <!-- <p class="availablity">{{item.availability}}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--./card ends-->

                    <div class="card type3" id="section8">
                        <div class="main_title">
                            <h2>Meals</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3" *ngFor="let item of mealData">
                                <div class="strip">
                                    <figure>
                                        <img [src]="item.ItemImageUrl" class="img-fluid lazy loaded" alt=""
                                            data-was-processed="true">
                                        <a href="javascript:void(0)" routerLink="/foods/detail/{{item.ItemItemId}}"
                                            class="strip_info">
                                            <div class="item_title">
                                                <h3>{{item.ItemName | titlecase}}</h3>
                                                <small>{{item.ItemPrice | currency: 'INR'}}</small>
                                            </div>
                                        </a>
                                    </figure>
                                    <div class="cardDetails">
                                        <!-- <div class="score"><strong>{{item.ItemRating}}</strong></div> -->
                                        <a class="btn_1 outline type_3" href="javascript:void(0)"
                                            (click)="orderNow($event, item)">Pre
                                            Order</a>
                                    </div>
                                    <!-- <p class="availablity">{{item.availability}}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--./card ends-->

                    <div class="card type3" id="section9">
                        <div class="main_title">
                            <h2>Platter</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3" *ngFor="let item of platterData">
                                <div class="strip">
                                    <figure>
                                        <img [src]="item.ItemImageUrl" class="img-fluid lazy loaded" alt=""
                                            data-was-processed="true">
                                        <a href="javascript:void(0)" routerLink="/foods/detail/{{item.ItemItemId}}"
                                            class="strip_info">
                                            <div class="item_title">
                                                <h3>{{item.ItemName | titlecase}}</h3>
                                                <small>{{item.ItemPrice | currency: 'INR'}}</small>
                                            </div>
                                        </a>
                                    </figure>
                                    <div class="cardDetails">
                                        <!-- <div class="score"><strong>{{item.ItemRating}}</strong></div> -->
                                        <a class="btn_1 outline type_3" href="javascript:void(0)"
                                            (click)="orderNow($event, item)">Pre
                                            Order</a>
                                    </div>
                                    <!-- <p class="availablity">{{item.availability}}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--./card ends-->
                </div>
            </div>
        </div>

        <div class="container margin_30_40">
            <!--best chefs-->
            <div class="row">
                <div class="col-12 main_title">
                    <h2>Chefs near you</h2>
                </div>

                <div class="chef_carousel">
                    <owl-carousel-o [options]="customOptionsTwo">
                        <ng-container *ngFor="let chef of chefData; let i = index;">
                            <ng-template carouselSlide class="slide" [id]="'image' + i">
                                <div class="item">
                                    <div class="chefBox">
                                        <figure>
                                            <a href="javascript:void(0)" routerLink="/foods/chef/{{chef.chefId}}"><img
                                                    [src]="chef.chefImage" class="img-fluid lazy" alt=""></a>
                                        </figure>
                                        <div class="cardDetails">
                                            <h3>{{chef.firstname + ' ' + chef.lastname}}</h3>
                                            <div class="score"><strong>{{chef.chefRating}}</strong></div>
                                        </div>
                                    </div>
                                </div>
                                <!--./-->
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>

    <!--container-->
    <div class="container margin_30_40">
        <!--best chefs-->
        <div class="row">
            <div class="col-12 main_title">
                <h2>Popular cuisine near you</h2>
            </div>

            <div class="chef_carousel">
                <owl-carousel-o [options]="customOptionsTwo">
                    <ng-container *ngFor="let cuisine of cuisineData; let i = index;">
                        <ng-template carouselSlide class="slide" [id]="'image' + i">
                            <div class="item">
                                <div class="chefBox">
                                    <figure>
                                        <a href="javascript:void(0)"
                                            routerLink="/foods/detail/{{cuisine.ItemItemId}}"><img
                                                [src]="cuisine.ItemImageUrl" class="img-fluid lazy" alt=""></a>
                                    </figure>
                                    <div class="cardDetails">
                                        <h3>{{cuisine.ItemName}}</h3>
                                    </div>
                                </div>
                            </div>
                            <!--./-->
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>