<div class="food-detail">
    <div class="container margin_detail_2">
        <div class="row">
            <div class="col-lg-8">
                <figure>
                    <img [src]="foodItem.imgUrl" class="img-fluid" alt="product-img">
                </figure>
            </div>
            <!--./-->

            <div class="col-lg-4">
                <div class="productBox">
                    <div class="product-details">
                        <h3 class="product-title">{{foodItem.label}}</h3>
                    </div>

                    <div class="rating">
                        <p class="score"><strong>{{foodItem.rating}}</strong></p>
                    </div>

                    <div class="price">
                        <h3>&#8377; {{foodItem.price}} <span class="quantity">({{foodItem.quantity}})</span></h3>
                    </div>

                    <div class="availablity">{{foodItem.availability}}</div>

                    <div class="btn_1_mobile">
                        <a href="javascript:void(0)" (click)="orderNow($event, foodItem)"
                            class="btn_1 gradient full-width mb_5 modal_dialog mb32">Order
                            Now</a>
                    </div>

                    <div class="chefDetails">
                        <div role="tablist" class="accordion_2" id="accordion_group">
                            <div class="card">
                                <div class="card-header" role="tab">
                                    <h5>
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false"
                                            class="collapsed"><i class="indicator icon_plus"></i>Details about the
                                            meal</a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse" role="tabpanel" data-parent="#accordion_group"
                                    style="">
                                    <div class="card-body">
                                        <p>A veggie twist on an indian favourite! Relish these spicy deep-fried
                                            sweet corn tossed in a masala of chilli, mustard seeds,
                                            curry leaves, coriander leaves and african peri-peri seasoning. This is
                                            snacky heaven!</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /card -->

                            <div class="card">
                                <div class="card-header" role="tab">
                                    <h5>
                                        <a data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
                                            class="collapsed"><i class="indicator icon_plus"></i>Meet our Chef</a>
                                    </h5>
                                </div>

                                <div id="collapseTwo" class="collapse" role="tabpanel" data-parent="#accordion_group"
                                    style="">
                                    <div class="card-body">
                                        <div class="chefInfo">
                                            <img src="assets/images/menu-thumb-1.jpg" class="img-fluid">

                                            <div class="chefTitle">
                                                <h3 class="chefName">Jiten Kapoor</h3>
                                                <p>Owner of <a href="#">ABC Kitchen</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /card -->

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- /container -->
    <div class="container">
        <div class="row">
            <section id="section-5" class="col-md-8 margin_30_40">
                <h4>Customer review & ratings</h4>
                <div class="row add_bottom_30 d-flex align-items-center reviews">
                    <div class="col-md-3">
                        <div class="ratingAgg">
                            <div id="review_summary">
                                <strong>5.0</strong>
                            </div>
                            <div class="starTotal">
                                <div class="starRating">
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                </div>
                                <div class="ratingsTotal">
                                    26 ratings
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 reviews_sum_details">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="d-flex reviewList">
                                    <h6>5 stars</h6>
                                    <div class="col-xl-8 col-lg-9 col-9">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%"
                                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <h6>10</h6>
                                </div>

                                <div class="d-flex reviewList">
                                    <h6>4 stars</h6>
                                    <div class="col-xl-8 col-lg-9 col-9">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%"
                                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <h6>10</h6>
                                </div>

                                <div class="d-flex reviewList">
                                    <h6>3 stars</h6>
                                    <div class="col-xl-8 col-lg-9 col-9">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%"
                                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <h6>10</h6>
                                </div>

                                <div class="d-flex reviewList">
                                    <h6>2 stars</h6>
                                    <div class="col-xl-8 col-lg-9 col-9">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%"
                                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <h6>10</h6>
                                </div>

                                <div class="d-flex reviewList">
                                    <h6>1 stars</h6>
                                    <div class="col-xl-8 col-lg-9 col-9">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%"
                                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <h6>10</h6>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="reviewBox">
                                    <a href="javascript:void(0)" class="btn_1 outline type_2"
                                        routerLink="/foods/leave-review">Leave a Review</a>
                                </div>
                                <!-- /row -->
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                </div>
                <!-- /row -->

                <div id="reviews">
                    <div class="review_card" *ngFor="let review of reviews">
                        <div class="row">
                            <div class="col-md-2 user_info">
                                <figure><img [src]="review.avatar" alt=""></figure>
                                <h5>{{review.name}}</h5>
                            </div>
                            <div class="col-md-10 review_content">
                                <div class="clearfix add_bottom_15">
                                    <span class="rating">{{review.rating}}<small>/5</small> <strong>Rating
                                            average</strong></span>
                                    <em>Published {{review.time}} ago</em>
                                </div>
                                <h4>{{review.reviewTitle}}</h4>
                                <p>{{review.description}}</p>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                </div>
            </section>
        </div>
        <!-- /container -->

        <div class="container">
            <div class="row">
                <div class="col-12 main_title">
                    <h2>More food of this Chef</h2>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6" *ngFor="let chef of moreFromChef">
                    <div class="strip">
                        <figure>
                            <span class="ribbon off">{{chef.offer}} off</span>
                            <img [src]="chef.imgUrl" class="img-fluid lazy loaded" alt="" data-was-processed="true">
                            <a href="javascript:void(0)" routerLink="/foods/chef/1" class="strip_info">
                                <div class="item_title">
                                    <h3>{{chef.label}}</h3>
                                    <small>₹ {{chef.price}}</small>
                                </div>
                            </a>
                        </figure>
                        <div class="cardDetails">
                            <div class="score"><strong>{{chef.rating}}</strong></div>
                            <a class="btn_1 outline type_3" href="javascript:void(0)"
                                (click)="orderNow($event, chef)">Order Now</a>
                        </div>
                    </div>
                </div>
                <!-- /strip grid -->
            </div>
        </div>
    </div>
</div>